/***** variables *****/
:root {
    --even-section-bg-color: #9792e4;
}



/***** generics *****/





* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}



/***** utilities *****/

.container {
    width: 100%;
    padding: 0 20px;
}


/** flex **/
.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}


.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/** /flex **/

/*** shared ***/

.card {
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card.text-left {
    text-align: left;
}


.quoted-text::before,
.quoted-text::after {
    font-size: 70px;
    color: #fff;
    line-height: 0;
    vertical-align: bottom;
}

.quoted-text::before {
    content: open-quote;
}

.quoted-text::after {
    content: close-quote;
}

/*** /shared ***/

/***** content *****/

header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
}

.menu {
    color: #fff;
}

.menu ul {
    display: none;
}

header .fa-bars,
header img {
    vertical-align: middle;
}


main {
    padding-top: 80px;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}

section:nth-of-type(even) {
    background-color: var(--even-section-bg-color);
}


/* product-presentation */
#product-presentation .card {
    background-color: #b5ddff;
}

h3 {
    color: #0084fd;
}

#product-presentation .card>* {
    padding: 15px 0;
}

#product-presentation .column:first-child .card {
    padding-bottom: 0;
}

.fa-4x {
    color: #0084fd;
}

/* strategic */
#strategic h3,
#strategic p {
    color: white;
}

#strategic h3 {
    font-size: 2rem;
}

#strategic .container>* {
    padding: 15px 0;
}

#strategic h3 {
    font-size: 2rem;
}

#strategic .card p {
    color: black;
}

.fa-arrow-down {
    background-color: #9792e4;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

/* testimonials */

#testimonials {
    text-align: center;
}

#testimonials h2 {
    color: var(--even-section-bg-color);
}

#testimonials h3 {
    color: black;
}

#testimonials .card {
    background-color: var(--even-section-bg-color);
    color: white;
}

#testimonials img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%
}

#testimonials .card.flex {
    flex-direction: column;
}


#testimonials .card>* {
    padding: 15px 0;
}


#testimonials .row .column:first-child>* {
    padding: 15px 0;
}

/* benefits */
#benefits h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
}


#benefits .card .number,
#benefits .card h3 {
    color: #9792e4;
    font-size: 2rem;
}

#benefits .card>* {
    margin: 15px 0;
    text-align: left;
}

#benefits .card button {
    width: 40%;
    background-color: #9792e4;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: white;
    padding: 10px 25px;
}

#benefits .row {
    padding-bottom: 50px;
}

/* about us */
#about-us h2 {
    font-size: 2rem;
    color: #9792e4;
}

#about-us .container>* {
    padding: 15px;
    font-size: 1.2rem;
}

#about-us img {
    width: 50%;
    border-radius: 50%;
}

#about-us .help-people>* {
    margin: 15px 0;
}

#about-us .help-people p {
    color: #9792e4;
    font-weight: 700;
    font-size: 1.8rem;
}

#about-us .help-people button {
    width: 70%;
    background-color: #9792e4;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: white;
    padding: 10px 25px;
}

/* get started */
#get-started .container>* {
    text-align: center;
    margin: 20px 0;
    color: white;
}

#get-started .container h4 {
    opacity: 0.5;
    padding-top: 20px;
}

#get-started .container h2 {
    font-size: 3rem;
    color: #fdc15f;
}


#get-started .container h3 {
    font-size: 2rem;
}

#get-started .container button {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: #9792e4;
    padding: 10px;
}

#get-started {
    margin: 0;
}

/* footer */
footer {
    background-color: #333333;
}

footer p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.underline {
    color: #9792e4;
    text-decoration: underline;
}

footer .container>* {
    padding: 20px;
}

/* esempio di ingombro bordi */
/* .square-container {
    width: 250px;
    border: 50px solid orange
}

.square {
    width: 250px;
    height: 250px;
} */

/* /esempio di ingombro bordi */

@media screen and (min-width: 768px) {

    #product-presentation .column {
        width: calc(100% / 3);
        padding: 0 10px;
    }

    #product-presentation .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #product-presentation img {
        width: 50%;
    }


    #testimonials .card.flex {
        flex-direction: row;
    }


}

@media screen and (min-width: 1200px) {

    .menu .fa-bars {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
    }


    #product-presentation .column:first-child .card {
        flex-direction: row;
    }

    #benefits .row .column {
        width: calc(100% / 3);
    }

}






/***** debug *****/